*

!.github
!.github/*
!.gitignore

!srcs
!srcs/Client
!srcs/Configuration
!srcs/Configuration/FileHandler
!srcs/Configuration/Parser
!srcs/Configuration/Parser/RecursiveDescentParser
!srcs/Configuration/Token
!srcs/Configuration/Tokenizer
!srcs/Const
!srcs/Debug
!srcs/Error
!srcs/Server
!srcs/Socket
!srcs/StringHandler
!srcs/HttpRequest
!srcs/HttpRequest/*/

!includes

!playground

!test

!html
!html/**
!conf

!*.conf
!*.cpp
!*.h
!*.hpp
!*.txt
!*.yml
!*.md

!CPPLINT.cfg
!CMakeLists.txt
!Makefile
!Readme.md
!webserv.drawio

.DS_Store
.idea
.vscode
client_response.txt
CMakeCache.txt
Dockerfile
