*

!.gitignore
!.github
!.github/*
!config

!srcs
!srcs/Debug
!srcs/Error
!srcs/HttpResponse
!srcs/HttpResponse/*
!srcs/Socket

!www
!includes
!test
!playground

!*.cpp
!*.hpp
!*.yml
!*.conf
!*.txt
!*.h

!Readme.md
!Makefile
!CPPLINT.cfg
!webserv.drawio
!CMakeLists.txt

.idea
.vscode
.DS_Store
CMakeCache.txt
Dockerfile
