*

!.github
!.github/*
!.gitignore
!config

!srcs
!srcs/Client
!srcs/Debug
!srcs/Error
!srcs/Server
!srcs/Socket
!includes
!playground
!test
!www

!*.conf
!*.cpp
!*.h
!*.hpp
!*.txt
!*.yml

!CPPLINT.cfg
!CMakeLists.txt
!Makefile
!Readme.md
!webserv.drawio

.DS_Store
.idea
.vscode
client_response.txt
CMakeCache.txt
Dockerfile
